<script type="text/x-template" id="new-post-template">
<div class="page new-post-page">
    <div class="page-header" filter-color="orange">
        <!-- TODO change image -->
        <!-- <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                    <div class="card card-login card-plain">
                        <form class="form" method="" action="">
                            <div class="header header-primary text-center">
                                <div class="logo-container">
                                    <!-- <img src="../assets/img/now-logo.png" alt=""> -->
                                    <h3>New Post</h3>
                                </div>
                            </div>
                            <div class="content">
                                <div class="input-group form-group-no-border input-lg">
                                    <textarea v-model="content"
                                        class="form-control" placeholder="Start typing..." rows="5"></textarea>
                                </div>
                                <div class="footer text-center">
                                    <a href="javascript:void(0)" v-on:click="createPost"
                                        class="btn btn-primary btn-round btn-lg btn-block">Create Post</a>
                                </div>
                            </div>
                        </form>


                        <div v-if="!longitude">
                            <p><i class="now-ui-icons location_pin"></i> Getting your location ...</p>
                        </div>
                        <div id='map' style='height: 300px;'></div>
                        <br>
                        <p>@{ address }</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/babel">
// 1. Define route components.
// These can be imported from other files
const NewPost = {
    template: '#new-post-template',

    data: function() {
        return {
            content: '',
            longitude: null,
            latitude: null,
            address: ''
        }
    },

    delimiters: ['@{', '}'],

    mounted: function() {
        var component = this;
        onMountLoadMap(component);
    },

    methods: {
        createPost: function() {
            // TODO validate
            var me = this;
            $.ajax({
                url: '/api/post/new',
                method: 'POST',
                data: {
                    content: this.content,
                    latitude: this.latitude,
                    longitude: this.longitude,
                    address: this.address
                },

                success: function(data) {
                    console.log(data);
                    if (data.status == 'success') {
                        console.log(data);
                        // TODO go to post page
                        // me.$router.push('/my-posts');
                    } else if (data.status == 'failure') {
                        alert(data.msg);
                    } else {
                        console.error('No response');
                    }
                },

                error: function() {
                    console.error('error!');
                }
            });
        },

        setLocation: function(longitude, latitude, address) {
            console.log(longitude, latitude, address);
            this.longitude = longitude;
            this.latitude = latitude;
            this.address = address;
        },
    }
};
</script>
