{% extends "base/index.html" %}

{% block content %}
<!-- route outlet -->
<!-- component matched by the route will render here -->
<router-view v-on:login="setAuthenticated"></router-view>
{% endblock %}

{% block script %}
<script type="text/javascript">
    window.isAuthenticated = function() {
        var isAuthenticated = document.cookie.indexOf("authorized=1")!==-1;
        console.log('isAuthenticated?', isAuthenticated);
        return isAuthenticated;
    };
</script>

{% include "components/login.html" %}
{% include "components/feed.html" %}
{% include "components/new-post.html" %}

<script type="text/babel">
    // 0. If using a module system (e.g. via vue-cli), import Vue and VueRouter
    // and then call `Vue.use(VueRouter)`.
    Vue.use(VueRouter);

    // 2. Define some routes
    // Each route should map to a component. The "component" can
    // either be an actual component constructor created via
    // `Vue.extend()`, or just a component options object.
    // We'll talk about nested routes later.
    const routes = [
        { path: '/login', component: Login },
        { path: '/', component: Feed, meta: { requiresAuth: true } },
        { path: '/new', component: NewPost, meta: { requiresAuth: true } }
    ];

    // 3. Create the router instance and pass the `routes` option
    // You can pass in additional options here, but let's
    // keep it simple for now.
    const router = new VueRouter({
        routes // short for `routes: routes`,
    });

    router.beforeEach((to, from, next) => {
        if (to.matched.some(record => record.meta.requiresAuth)) {
            // this route requires auth, check if logged in
            // if not, redirect to login page.
            if (!window.isAuthenticated()) {
                next({
                    path: '/login',
                    query: { redirect: to.fullPath }
                });
            } else {
                next();
            }
        } else {
            next(); // make sure to always call next()!
        }
        $('#bodyClick').click();
    });


    // 4. Create and mount the root instance.
    // Make sure to inject the router with the router option to make the
    // whole app router-aware.
    const app = new Vue({
        router,
        data: {
            isAuthenticated: false
        },
        delimiters: ['@{', '}'],
        created: function() {
            this.setAuthenticated();
        },
        methods: {
            setAuthenticated: function() {
                this.isAuthenticated = window.isAuthenticated();
            },
            logout: function() {
                var me = this;
                $.ajax({
                    url: '/api/auth/logout',
                    method: 'POST',

                    success: function(data) {
                        console.log(data);
                        if (data.status == 'success') {
                            // go to home
                            me.setAuthenticated();
                            me.$router.push('/login');
                        } else if (data.status == 'failure') {
                            alert(data.msg);
                        } else {
                            console.error('No response');
                        }
                    },

                    error: function() {
                        console.error('error!');
                    }
                })
            }
        }
    }).$mount('#app')

    // Now the app has started!
</script>
{% endblock %}
